[user]
    name = LeonardoEnnes
    email = leonardoennes7@gmail.com
    signingkey = true

[commit]
    gpgsign = true

[core]
    autocrlf = input

[alias]
    lg = log --oneline --graph --decorate
    co = checkout
    br = branch

[pull]
    rebase = false